.ridesContainer{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../public/assests/futuristic.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin:0;
    position: relative;
    
    
}

 .ridesWrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    padding: 0px 200px;
    margin-top: 100px;
    

}


.rides{
    position: relative;
    background-color: rgb(36, 38, 43);
} 

  .filtersWrapper{
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    color: white;
}  

.ridesTitle{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin: 0;
    padding-top: 2%;
    
}
.ridesTitle:after{
    content: "";
    position: absolute;
    height: 0px;
    border-bottom: 4px solid #3498db;;
    width: 200px;
    top: 13%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}



 .rideItem{
    width: 300px;
    height: 300px;
    background-color: rgb(36, 38, 43,0.9);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    margin-right: 60px;
    box-shadow: 0 0 6px rgb(0 0 0 / 65%);
  
}

.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    position: relative;
    
}

.material-icons{
    font-size: 24px;
    position: absolute;
    right:0;
}

.infoItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    margin-right: 55px;
    color: white;
    position: relative;
}
span{
    margin-right: 10px;
    
    
    
}
.infoText{
    position: absolute;
    
}

.previousPage{
    position: absolute;
    width: 80px;
    margin-top: 21px;
    margin-left: 15px;
    top:0;
}



.sendMessage{
    position: absolute;
    width: 200px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: #3498db;
    color: white;
    border: none;
    bottom: 50px;
    right: 20%;
    cursor:pointer;
    border-radius: 5px;
    
}

.emptyRides{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width:480px) {

    .ridesTitle{
        font-size: 23px;
        white-space: nowrap;
        padding-top: 4%;
        
    }
    .ridesTitle:after{
        top:4%;
    }
    .previousPage{
        display: none;
        
    }
    .rideItem{
        margin-right: auto;

    }

    .ridesContainer{
        height: auto;
    }
    
    
}


@media screen and (min-width:481px) and (max-width:1024px) {


    .previousPage{
        display: none;
    }
    .ridesContainer{
        height: auto;
    }
    .rideItem{
        margin-right: auto;
        flex: 0 0 13%;

    }
    .ridesTitle:after{
        top:6%;
    }
    



}





