.message{
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  


.messageTop{
    display: flex;
    gap:10px;
    margin-top: 10px;
    align-items: center;
}

.messageTopOwn{
  display: flex;
  gap:10px;
  margin-top: 10px;
  flex-direction: row-reverse;
  align-items: center;

}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;  }


.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(245, 241, 241);
    color: black;
    max-width: 300px;
}

.messageBottom{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  color: white;

}


.messageTopOwn .messageText{
    background-color: #3498db;
    color: white;
}
