
.confirmDel{
    display: flex;
    justify-content: center;
}

.delModal{
    width: 550px;
    height: 200px;
    background-color:  rgb(36, 38, 43,1);
    border:1px solid #3498db;
    border-radius: 5px;
    z-index: 99;
    position: fixed;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);


}
.confirmText{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;

}

.delBtns{
    position: absolute;
    display: flex;
    bottom:15%;
    left:50%;
    transform: translate(-50%,-50%);
    

}

.deletelBtn , .cancelBtn{
    width: 150px;
    padding: 10px 20px;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
    background-color: #3498db;
    color: white;
    border: none;
    cursor:pointer;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 14px;
    transition: all 0.3s ease-out;
    

}

.deletelBtn:hover , .cancelBtn:hover{
    background-color: white;
    color: #3498db;

}


@media screen and (max-width:570px) {

    .delModal{

        width:400px;

    }

    .confirmText{
        font-size: 18px;


    }

    .deletelBtn , .cancelBtn{
        width: 120px;
        font-size: 12px;

    }

   
}


@media screen and (max-width:570px) {

    
    .delModal{

        width:320px;

    }

    .confirmText{
        font-size: 15px;


    }

    .deletelBtn , .cancelBtn{
        width: 120px;
        font-size: 11px;

    }




}