.partnersContainer{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../public/assests/futuristic.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin:0;
    position: relative;
    
    
}

 .partnersWrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    padding: 0px 200px;
    margin-top: 100px;
    

}


.partnersTitle{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin: 0;
    padding-top: 2%;
    
}
.partnersTitle:after{
    content: "";
    position: absolute;
    height: 0px;
    border-bottom: 4px solid #3498db;;
    width: 200px;
    top: 13%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}



 .parntersItem{
    width: 400px;
    height: 400px;
    background-color: rgb(36, 38, 43,0.9);
    border: 3px solid transparent;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    margin-right: 50px;
    box-shadow: 0 0 6px rgb(0 0 0 / 65%);
  
}

.partnerInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

.partnerProfileImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #3498db;
    object-fit: cover;
    cursor: pointer;
}


.festInfoItem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.partnerFixedText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:gray;
    
}

.partnerUserInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;

}

.partnerDesc{
    word-break: break-word;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.previousPage{
    position: absolute;
    width: 80px;
    margin-top: 21px;
    margin-left: 15px;
    top:0;
}



.sendMessage{
    position: absolute;
    width: 200px;
    padding: 15px 20px;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
    background-color: #3498db;
    color: white;
    border: none;
    cursor:pointer;
    border-radius: 50px;
    bottom:3px;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-out;
  
    
}

.deletePartner{
    font-size: 17px;
    position: absolute;
    color:#3498db;
    background:none;
    top:20px;
    right:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.sendMessage:hover{
    background-color: white;
    color: #3498db;
}

.emptyPartners{
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* DELETE MODAL */

.partnerConfirmDel{
    display: flex;
    justify-content: center;
}

.partnerDelModal{
    width: 550px;
    height: 200px;
    background-color:  rgb(36, 38, 43,1);
    z-index: 99;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(184, 181, 181, 0.3);

}
.partnerConfirmTitle{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 22px;

}
.partnerDeleteBts{
    position: absolute;
    display: flex;
    bottom:15%;
    left:50%;
    transform: translate(-50%,-50%);
    

}

.partnerDeleteBtn , .partnerCancelBtn{
    width: 150px;
    padding: 15px 20px;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
    background-color: #3498db;
    color: white;
    border: none;
    cursor:pointer;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 15px;
    transition: all 0.3s ease-out;
    

}

.partnerDeleteBtn:hover , .partnerCancelBtn:hover{
    background-color: white;
    color: #3498db;

}







