.shows{
    height: 85vh;
    display: flex;
    justify-content: center;
    background-color: rgb(36, 38, 43);
}
.showsContainer{
    display: flex;
    justify-content: center;
    max-width: 1024px;
    width: 100%;
    position: relative;
    margin-top: 25px;
}

.showsTitle{
    color:white;
    position: absolute;
    font-size: 35px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}


.showsTitle:after{
    content: "";
    position: absolute;
    height: 0px;
    border-bottom: 2px solid #3498db;;
    width: 1024px;
    margin-top: 70px;
}


.eventItems{
    display: flex;
    justify-content: center;
    gap:25px;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
    transition: all 1s ease; 
    margin-top: 130px;
}



.eventItem{
    width: 320px;
    height: 200px;
    border-radius: 10px;
    background-color: none;
    -webkit-box-shadow: -2px 3px 25px -4px rgba(0,0,0,0.8); 
    box-shadow: -2px 3px 25px -4px rgba(0,0,0,0.8);
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
}

.eventTitle{
    position: absolute;
    bottom: 15px;
    left: 10px;

}

.subscribe{
    position: absolute;
    font-size: 20px;
    color: white;
    right:5px;
    top:5px;
    cursor: pointer;

}

.showImg{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.9;

}

.showImg:hover{
    opacity: 0.6;
}




.eventTitleHover{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
   

}



.eventName , .eventLocation , .eventDate, .eventNameHover{
    color: white;
    margin-top: 5px;

    
}
.eventName {
    font-size: 25px;
    
}
.eventLocation{
    margin-top: 15px;
    font-size: 22px;
}

.eventDate{
    margin-top: 20px;
    font-size: 20px;
}




/* ADD RIDE SECTION */



.addRideBtn{
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #3498db;
    background-color: #3498db;
    padding: 12px 45px;
    color: white;
    font-size: 18px;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
    transition: transform .2s;
    color: white;
    border-color: #3498db;
    position: absolute;
    bottom: 10px;

}

.addRideBtn:hover{
    transform: scale(1.1);
}


.rideModal{
    width: 550px;
    height: 620px;
    z-index: 99;
    background-color: rgb(36, 38, 43);
    position: absolute;
    top:90%;
    left:50%;
    transform: translate(-50%,-100%);
    margin: auto;
    padding: 10px 50px;
    display: flex;
    color: white;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(184, 181, 181, 0.3);

}

.rideTitle{
    font-size: 25px;
    margin-top: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 65px;


}

.rideTitle:after{
    content: "";
    position: absolute;
    height: 0px;
    border-bottom: 4px solid #3498db;;
    width: 115px;
    top: 11%;
    left:50%;
    transform: translate(-50%,-50%);
}


label{
    display: flex;
    align-items: center;

}

.rideInput{
    padding:10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
    color:black;
    border: 2px solid #3498db;
    border-radius: 194px;

}

.rideInput::placeholder{
    color: rgb(179, 179, 179);
}

.rideButton{
    position: absolute;
    width: 100%;
    bottom: -40px;
    left: 0;
    height: 40px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: #3498db;
    cursor: pointer;
    color: white;
    border: none;

}

.close{
    font-size: 20px;
    position: absolute;
    color:#3498db;
    background:none;
    top:20px;
    right:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* Auth Confirmation*/

.confirmAuth{
    display: flex;
    justify-content: center;
}

.authModal{
    width: 550px;
    height: 200px;
    background-color:  rgb(36, 38, 43,1);
    z-index: 99;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(184, 181, 181, 0.3);
    

}
.authTitle{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 22px;

}
.authBtns{
    position: absolute;
    display: flex;
    bottom:15%;
    left:50%;
    transform: translate(-50%,-50%);
    

}

.approveBtn{
    width: 150px;
    padding: 15px 20px;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
    background-color: #3498db;
    color: white;
    border: none;
    cursor:pointer;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 15px;
    transition: all 0.3s ease-out;
    

}

.approveBtn:hover{
    background-color: white;
    color: #3498db;

}



@media screen and (max-width:480px) {

    .addRideBtn{
    margin: 20px 20px;
    padding: 10px 70px;
    top:50%;
    }

    .rideModal{
        width: auto;
        height: auto;
    }

    
}


@media screen and (min-width:481px) and (max-width:1024px) {

    .rideModal{
        width: 400x;
        height: 600px;
        transform: translate(-50%,-80%);
    }



}
