.shows{
    height: 85vh;
    display: flex;
    justify-content: center;
    background-color: rgb(36, 38, 43);
}
.showsContainer{
    display: flex;
    justify-content: center;
    max-width: 1024px;
    width: 100%;
    position: relative;
    margin-top: 25px;
}


.showsTitle{
    color:white;
    position: absolute;
    font-size: 35px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}


.showsTitle:after{
    content: "";
    position: absolute;
    height: 0px;
    border-bottom: 2px solid #3498db;;
    width: 1024px;
    margin-top: 70px;
}




.eventItems{
    display: flex;
    justify-content: center;
    gap:25px;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
    transition: all 1s ease; 
    margin-top: 130px;
}








/* ADD RIDE SECTION */



.addRideBtn{
    position: absolute;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #3498db;
    background-color: #3498db;
    padding: 12px 45px;
    color: white;
    font-size: 18px;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
    transition: transform .2s;
    color: white;
    border-color: #3498db;
    bottom: 10px;

}
.leftChevron{
    position: absolute;
    color:white;
    left:0;
    bottom: 20px;
    cursor: pointer;

}s
.rightChevron{
    position: absolute;
    color:white;
    right:0;
    bottom: 20px;
    cursor: pointer;

}

.addRideBtn:hover{
    transform: scale(1.1);
}


