.bottomhome{
    height: 100vh;
    background-color: rgb(36, 38, 43);
    overflow: hidden;
    position: relative;
}

.eventsTitle{
    color: white;
    position: absolute;
    font-size: 50px;
    background-color: none;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.eventsTitle:after{
    content: "";
    position: absolute;
    height: 0px;
    border-bottom: 4px solid #3498db;;
    width: 200px;
    top: 165%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width:480px) {

    .bottomhome{
        overflow: scroll;
    }


  .eventsTitle{
      font-size: 28px;
      top:5%;
      left: 50%;
      white-space: nowrap;

  }
  .eventsTitle:after{
    width: 120px;

  }
    
    
}

@media screen and (min-width:481px) and (max-width:1024px) {

    .eventsTitle{
        font-size: 40px;
        top:4%;
        left: 51%;
        white-space: nowrap;
        transform: translate(-50%, -50%);
  
    }
    .eventsTitle::after{
        top: 135%;

    }

    

    
}