.bottomhome{
    height: 100vh;
    background-color: rgb(36, 38, 43);
    overflow: hidden;
    position: relative;
}

.eventsTitle{
    color: white;
    position: absolute;
    font-size: 50px;
    background-color: none;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.eventsTitle:after{
    content: "";
    position: absolute;
    height: 0px;
    border-bottom: 4px solid #3498db;;
    width: 200px;
    top: 165%;
    left: 50%;
    transform: translate(-50%, -50%);
}