.searchAddRide{
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  
}

  .searchInput{
    border: none;
    width: 100%;
    margin-left: 10px;
  }
  
  .searchIcon {
    font-size: 25px !important;
    color: gray;
    margin-right: 10px;
  }
  
  input:focus {
    outline: none;
  }


  .dataResult {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top:110%;
    left:0;
    width: 100%;
    height: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
  }
  
  .dataItem p {
    margin-left: 10px;
    font-size: 13px;
  }
  .dataItem:hover{
    background-color: #f4f4f4;
  }
  
  #clearBtn {
    cursor: pointer;
  }