.tophome{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../../../public/assests/tomorrowland.jpg");
    background-color: gray;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-size:cover;
     
}

.contentContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}

.textContainer{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.topSentence{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 105px;
}


.bottomSentence{
    color: white;
    font-size: 75px;
    margin-top: 20px;
}

.btnsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
    
}

.eventsBtn{
    padding: 10px 100px;
    font-size: 15px;
    color: #3498db;
    border: none;
    font-weight: bold;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
    transition: all 0.3s ease-out;


}

.eventsBtn:hover{
    background-color: #3498db;
    color:white;
  
}







@media screen and (max-width:750px) {

    .topSentence{
        font-size: 90px;


    }

    .bottomSentence{
        font-size: 60px;
    }

    .eventsBtn{
        padding: 10px 80px;
    }

 
}



@media screen and (max-width:640px) {

    .topSentence{
        font-size: 75px;


    }

    .bottomSentence{
        font-size: 50px;
    }

    .eventsBtn{
        padding: 10px 60px;
        font-size: 14px;
    }

 
}


@media screen and (max-width:535px) {

    .topSentence{
        font-size: 60px;


    }

    .bottomSentence{
        font-size: 40px;
    }

    .btnsContainer{

        margin-top: 35px;


    }

    .eventsBtn{
        padding: 8px 50px;
        font-size: 13px;
    }



}


@media screen and (max-width:435px) {

    .topSentence{
        font-size: 50px;


    }

    .bottomSentence{
        font-size: 30px;
    }

    .btnsContainer{

        margin-top: 30px;


    }

    .eventsBtn{
        padding: 6px 40px;
        font-size: 13px;
    }


}


@media screen and (max-width:350px) {

    .topSentence{
        font-size: 40px;


    }

    .bottomSentence{
        font-size: 25px;
    }

    .btnsContainer{

        margin-top: 25px;


    }

    .eventsBtn{
        padding: 6px 30px;
        font-size: 11px;
    }


}