.tophome{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../../../public/assests/tomorrowland.jpg");
     background-repeat: no-repeat;
     background-size: 100% 100%;
    
}


.topSentence{
    color: white;
    font-size: 105px;
}


.bottomSentence{
    color: white;
    font-size: 75px;
    margin-top: 20px;
}

.btnsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
    
}

.eventsBtn , .festivalsBtn{
    padding: 10px 50px;
    font-size: 15px;
    color: #3498db;
    border: none;
    font-weight: bold;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
    transition: all 0.3s ease-out;


}

.eventsBtn:hover , .festivalsBtn:hover{
    background-color: #3498db;
    color:white;
  
}

@media screen and (max-width:480px) {

    h1{
        font-size: 80px;
    }

    h3{
        font-size: 50px;

    }

    
}




