.profile{
    height: 100vh;
    min-height:780px;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    position: relative;
    background-image: linear-gradient(to right bottom, #24262b, #292b32, #2d3138, #32363f, #373c46);    /* background-image: linear-gradient(to right bottom, #24262b, #2c2e33, #34363b, #3c3e43, #44474c, #4b4e54, #51555c, #585c64, #5e636d, #646976, #6a707f, #707788); */

}

.test{
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}


.profilePageTitle{
    color: white;
    font-size: 35px;
    position:absolute;
    margin-top: 70px;
    align-items: center;
    white-space: nowrap;
   
    
}

.profilePageTitle:after{
    position: absolute;
    left: 50%;
    top:120%;
    content: "";
    transform: translate(-50%,-50%);
    height: 0px;
    border-bottom: 2px solid #3498db;
    width: 300px;

}

.settingsContainer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 45px;
}

.formsWrapper{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}

/* Personal Info */

.personalInfo{

    width:400px;
    height: 400px;
    background-color: rgb(36, 38, 43,0.75);
    position: relative;
    padding: 0 20px;
    border: 1px solid #3498db;
}

.personalTitle{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 25px;
    font-size: 25px;
    margin-bottom: 35px;

}



.personalInfoContainer{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding: 0 20px;

}

.personalField{
    border: none;
    border-bottom: 1px solid #3498db;
    background-color: transparent;
    color: white;
}

.personalSelectField{
    border: none;
    border-bottom: 1px solid #3498db;
    background-color: transparent;
    color: gray;
    cursor: pointer;
}
.personalSelectField:focus{
    background-color: transparent;
    outline: none;

}

.personalField:focus{
    background-color: transparent;
    outline: none;


}

.personalButton{
    position: absolute;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #3498db;
    background-color: #3498db;
    padding: 12px 160px;
    color: white;
    font-size: 14px;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
    color: white;
    border-color: #3498db;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 7%;

}

/* Events */ 

.profileEvents{
    width:400px;
    height: 400px;
    background-color: rgb(36, 38, 43,0.75);
    position: relative;
    padding: 0 20px;
    border: 1px solid #3498db;
}

.prfEventsTitle{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 25px;
    font-size: 25px;
    margin-bottom: 50px;

}
.prfEventsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.prfEventItem{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 120px;
    height: 25px;
    border: 2px solid gray;
}
.prfEventName{

    color: white;
    font-size: 11px;
    padding: 0 5px;

}
.prfRemoveEvent{
    color: #3498db;
    position: absolute;
    font-size: 11px;
    top:2px;
    right:5px;
    cursor: pointer;
    background-color: transparent;
    border: none;

}

.prfEmptyEvents{
    width: 100%;
    color: #3498db;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.testButton{
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;

}



.deleteUserButton{
    border: 1px solid #3498db;
    background-color: #3498db;
    padding: 15px 100px;
    color: white;
    font-size: 16px;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
    transition: all 0.3s ease-out;
    color: white;
    border-color: #3498db;
    cursor: pointer;
    margin-top: 30px;
}
.deleteUserButton:hover{
    background-color: white;
    color: #3498db;
    border: 1px solid white;
}




@media screen and (max-width:1024px) {

    .profile{
        overflow: scroll;
    }

    .profilePageTitle{

        margin-top: 70px;
    }
    .settingsContainer{
        height:125%
    }


    .deleteUserButton{
        padding: 15px 50px;
        margin-top: 0;
        margin-bottom: 30px;
    }


    
    .formsWrapper{
        flex-direction: column;
        margin-top: 50px;

    }
    
}


@media screen and (max-width:550px) {

    

    
    .settingsContainer{

        margin-top: 90px;
    }



    .profilePageTitle{
        color: white;
        font-size: 27px;
    }

    .profilePageTitle:after{
        width: 250px;

    }

    .personalInfo{
        width: 300px;


    }
    .profileEvents{
        width: 300px;
    }

    .personalButton{
        padding: 10px 100px;

    }

    .deleteUserButton{
        bottom: -10%;
        padding: 12px 35px;
    }

}