.myrides{
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #24262b, #292b32, #2d3138, #32363f, #373c46);
    display: flex;
    justify-content: center;
    position: relative;
    
}

.myRidesTitle{
    color:white;
    font-size: 35px;
    margin-top: 10px;
    display: flex;
    justify-content: center;

}

.myRidesTitle:after{
    position: absolute;
    top:65px;
    content: "";
    height: 0px;
    border-bottom: 3px solid #3498db;
    border-radius: 100px;
    width: 1260px;

}
.myRideEventName{
    color: white;
    margin-top: 12px;
    font-size: 16px;
}

.myRidesContainer{
    position: relative;
    justify-content: center;
    max-width: 1260px;
    width: 100%;
    margin-top: 25px;

}
.myRideItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    margin-top: 175px;  

}

.myRideItem{

    position: relative;
    border: 3px solid transparent;
    background-color: rgb(36, 38, 43,0.9);
    width: 275px;
    height: 325px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-box-shadow: 3px 7px 9px 2px rgba(0,0,0,0.16); 
    box-shadow: 3px 7px 9px 2px rgba(0,0,0,0.16);
    transition: all 0.1s ease-in;


}

.myRidesInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap:5px;
    font-size: 20px;
    margin-top: 10px;
}
.myRidesFacebookBtn{
    position: absolute;
    width: 200px;
    padding: 15px 20px;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
    background-color: #3498db;
    color: white;
    border: none;
    cursor:pointer;
    border-radius: 50px;
    bottom:-5px;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-out;

}

.myRidesFacebookBtn:hover{
    background-color: white;
    color: #3498db;
}

.myRidesInfoItem{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    gap:5px;


}

.editRide{
    width:450px;
    height: 500px;
    position: absolute;
    left:50%;
    top:50%;
    border-radius: 5px;
    border: 1px solid  #3498db;
    transform: translate(-50%,-50%);
    background-color: rgb(36, 38, 43,1);
    padding: 0 20px;
    z-index: 3;

  }



.editRideContainer{

    display: flex;
    flex-direction: column;
    gap:35px;
    padding: 0 20px;
 

}


.editRideTitle{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 25px;
    font-size: 25px;
    margin-bottom: 50px;

}



.editRideField{
    border: none;
    border-bottom: 1px solid #3498db;

    background-color: transparent;
    color: white;
}
.editRideSelectField{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #3498db;
    color: gray;
    cursor: pointer;
}


.editRideField:focus{
    background-color: transparent;
    outline: none;

}

.editRideSelectField:focus{
    background-color: transparent;
    outline: none;
}

.editRideButton{

    position: absolute;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #3498db;
    background-color: #3498db;
    padding: 12px 190px;
    color: white;
    font-size: 14px;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
    color: white;
    border-color: #3498db;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 7%;


}









  


