
.navbar{
   height: 40px;
   display: flex;
   justify-content: center;
   background-color: transparent;


}

.navContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.menuItem{
    font-size: 20px;
    color: white;
    cursor: pointer;
    

}

.loginBtn{
  padding: 8px 30px;
  font-size: 15px;
  color: #3498db;
  border: none;
  font-weight: bold;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
  box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8);
  transition: all 0.2s ease-in;
  margin-top: 6px;
}


.loginBtn:hover{
  background-color: #3498db;
  color:white;
}

.rightIconItem{
  color: white;
  margin-right: 10px;
}

.navRight{
    display: flex;
    justify-content: center;
    margin-right: 30px;
    
}

  .dropDownWrapper{
    position: relative;
  }

   .dropDownMenu{
    width:200px;
    height: 35px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    -webkit-box-shadow: -2px 3px 15px 0px rgba(52,152,219,0.8); 
    box-shadow: -3px 4px 20px 0px rgba(52,152,219,0.8);
  
  }
  .dropDownMenu:hover{
    background-color: #f4f4f4;
    transition: 0.2s ease;
  }


  .navbarProfileImg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #3498db;
    object-fit: cover;
    margin-left: 5px;

  }

  .navbarUserInfo{
    color: white;
    color: #3498db;
    font-weight: bold;
    text-decoration: none;


  }
  .arrowIcon{
    margin-right: 5px;
    cursor: pointer;
  }

  .listContainer{
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top:110%;
    left:0;
    width: 100%;

  }

  .dropDownList{
    text-decoration: none;
    
  }
  .listItem{
    padding:10px;
    cursor: pointer;
    font-weight: bold;
    color:#3498db;
  }
  .listItem:hover{
    background-color: #f4f4f4;
    border-radius: 5px;
  }


  .navLeft{
    /* margin: 5px; */
    
  }

.logo{
    font-weight: bold;
    font-size: 45px;
    color:white;
    letter-spacing: 5px;
    cursor: pointer;
    /* margin-top: 10px; */
    margin-left: 15px;
    
}






